#google_translate_element select {
  background:white;
  border: none;
    
  font-size: 16px;
  height: 4%;
  margin-left:10%;
  outline: 0;
  
  width: 100%;
  
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

.goog-logo-link {
   display:none;
} 

.goog-te-gadget{
   color: transparent !important;
}

 body #google_translate_element{
    background-color: rgba(0,0,0,0.8);
     display:flex;
    justify-content: center;
    align-items: center;
     align-content: center;
}

